<div *ngIf="tests">
    <div>
        trier par console
        <select [(ngModel)]="selectedConsole" (change)="onConsoleSelected()">
            <option value="">Toutes les consoles</option>
            <option *ngFor="let c of consoles" [value]="c.id">
                {{ c.name }}
            </option>
        </select>
    </div>
    <div>
        trier par genre
        <select [(ngModel)]="selectedGenre" (change)="onGenreSelected()">
            <option value="">Tous les genres</option>
            <option *ngFor="let g of genres" [value]="g.id">
                {{ g.name }}
            </option>
        </select>
    </div>
    <ul>
        <li *ngFor="let t of tests">
            <a [routerLink]="['../test', t.id]">
                <h1>{{t.title}}</h1>
                <img [src]="t.cover">
                <ul>
                    <li *ngFor="let c of t.consoles">
                        {{c}}
                    </li>
                </ul>
                <ul>
                    <li *ngFor="let g of t.genres">
                        {{g}}
                    </li>
                </ul>
                {{t.resume}}
                {{t.note}}
                {{t.author}}
                <ul>
                    <li *ngFor="let v of t.upVotes">
                        {{v}}
                    </li>
                </ul>
            </a>
        </li>
    </ul>
</div>