<header>
    <nav>
        <ul>
            <li>
                <a routerLink="accueil">Accueil</a>
            </li><li>
                <a routerLink="liste-tests">Liste des tests</a>
            </li><li>
                <a routerLink="liste-abonnes">Liste des abonnés</a>
            </li><li *ngIf="!isLogged">
                <a routerLink="connexion">Connexion</a>
            </li><li *ngIf="isLogged">
                <ul>
                    <li>
                        <a [routerLink]="isLogged ? 'profil' : null" [ngClass]="{ 'disabled-link': !isLogged }">{{profile.login}}</a>
                    </li><li *ngIf="isAllowed">
                        <a [routerLink]="isAllowed ? 'create-test' : null">Créer un test</a>
                    </li><li>
                        <a href="" (click)="logout()">Déconnexion</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div *ngIf="consoles" class="quick">
        <ul>
            <li *ngFor="let c of consoles">{{c.name}}</li>
        </ul>
    </div>
</header>